# Handle line endings automatically for all files
* text=auto
# Explicitly set certain file types to use LF
*.ts text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
frontend/node_modules/.cache/default-development/*.pack filter=lfs diff=lfs merge=lfs -text
