/* Hero catalog container */
.hero-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 0.rem;
    box-sizing: border-box;
}

/* Product card wrapper adjustment for the hero-catalog */
.hero-catalog .product-card-wrapper {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    max-width: 1200px;
}

/* Product card - Adjust card size here */
.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Blue border */
}

/* Inner card adjustment */
.product-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card:hover .product-card-inner {
    transform: rotateY(180deg);
}

/* Card front and back */
.product-card-front,
.product-card-back {
    position: absolute;
    width: 100%;
    height: 70%;
    transform: translateY(20px);
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Card front styling */
.product-card-front {
    background-color: rgba(255, 255, 255, 0.121);
    /* Semi-transparent red */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    padding: 0.1rem;
    /* Keep other existing styles */
    border-radius: 8px;
    overflow: hidden;
}
.product-card-front img {
    width: 80%;
    /* Adjusted size for smaller card */
    height: 80%;
    object-fit: contain;
}

.product-card h3 {
    font-size: 1rem;
    /* Adjusted font size */
    font-weight: bold;
    color: #333;
    margin: 0.1rem 0;
}

.product-card p {
    font-size: 1rem;
    /* Adjusted font size */
    color: #666;
    margin: 0;
}

/* Card back styling */
.product-card-back {
    background-color: #333;
    color: #fff;
    padding: 0.1rem;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.2rem;
    /* Adjusted font size */
}

/* View Catalogue button */
.view-catalogue-button {
    background-color: #828487;
    color: #ffffff;
    padding: 0.4rem 0.3rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.view-catalogue-button:hover {
    background-color: #0056b3;
}