.h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
.h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
.h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }